<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <style>
    :root {
    --bulma-primary-h: 194deg;
    --bulma-link-h: 178deg;
    --bulma-link-l: 37%;
    --bulma-info-h: 226deg;
    --bulma-danger-l: 56%;
    --bulma-scheme-h: 278;
    --bulma-light-l: 85%;
    }
    </style>

    <title>___TITRE___</title>
  </head>
  <body>
    <!-- Section avec le menu -->
    <nav class="navbar has-shadow is-info">
      <div class="navbar-brand m1">
        <a href="___RACINE___/index.html" class="navbar-item">
          <h1 class="title is-4">PPE</h1>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="___RACINE___/index.html" class="navbar-item">Accueil</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Tableaux
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="___RACINE___/tableaux/fr.html"> Tableau Français </a>
              <a class="navbar-item" href="___RACINE___/tableaux/en.html"> Tableau Anglais </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Concordanciers
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="___RACINE___/concordances/concordancier_fr.html"> Concordancier confinement </a>
              <a class="navbar-item" href="___RACINE___/concordances/concordancier_en.html"> Concordancier lockdown </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Coocurrences
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="___RACINE___/coocurrents/fr.html"> Tokens coocurrents de confinement </a>
              <a class="navbar-item" href="___RACINE___/coocurrents/en.html"> Tokens coocurrents de lockdown </a>
              <a class="navbar-item" href="___RACINE___/coocurrents/fr_bigrammes.html"> Bigrammes coocurrents de confinement </a>
              <a class="navbar-item" href="___RACINE___/coocurrents/en_bigrammes.html"> Bigrammes coocurrents de lockdown </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Analyses
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="___RACINE___/pages/anafr.html"> Analyse Français </a>
              <a class="navbar-item" href="___RACINE___/pages/anen.html"> Analyse Anglais </a>
              <a class="navbar-item" href="___RACINE___/pages/anmu.html"> Analyse Multingue </a>
            </div>
          </div>
          <a href="___RACINE___/pages/equipe.html" class="navbar-item">Equipe</a>
          <a href="___RACINE___/pages/code.html" class="navbar-item">Code</a>
        </div>
      </div>
    </nav>
    <section class="container mb-5 is-centered">
        <p class="title is-3"> </p>
    </section>
    <section class="container mb-5">
        <p class="title is-3">___TITRE___</p>
    </section>
    <section class="container mb-5 is-fluid is-centered">
      <div class="table-container">
        ___TABLEAU___
      </div>
    </section>
  </body>
  <!-- Section avec le footer -->
  <footer class="footer" style="bottom:0; left: 0; right: 0">
    <div class="content has-text-centered">
      <p>
        Copyright © L'équipe du groupe de
        <a href="https://github.com/MarcExposto/Projet-PPE1-2025">PPE1</a>
      </p>
      <p>
        Licence Creative Commons :
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
        >CC BY NC SA 4.0
        </a>
      </p>
    </div>
  </footer>
</html>
