<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <title>___TITRE___</title>
</head>
<body>
  <section class="hero is-info mb-5">
    <div class="hero-body">
      <p class="title is-3">___TITRE___</p>
    </div>
  </section>

  <section class="container mb-5">
    ___TABLEAU___
  </section>
  <div class="container mb-5">
    <a href="../../index.html">
      <button class="button is-small is-info is-outlined is-focused"> Retour </button>
    </a>
  </div>
</body>
